body {
  box-sizing: border-box;
  background-color: rgba(250, 216, 216, 0.733);
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.3) 0%, rgba(83, 83, 83, 0.46) 0%), url("../img/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/heading-bg.jpg");
  background-size: auto;
  background-attachment: unset;
  background-position: 0%;
  font-family: "Grenze Gotisch";
  font-size: calc(46px + 34 * ((100vw - 320px) / 1120));
  font-weight: 900;
  animation: clouds-moving infinite 50s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-timing-function: linear;
  text-align: center;
  margin: 0;
}

@keyframes clouds-moving {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:focus,
input {
  outline: none;
  border: none;
}

.form__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
  border-radius: 20px;
  background-color: #d9b3ff;
  background-image: url("../img/form-bg.jpg");
  background: linear-gradient(90deg, rgba(20, 20, 20, 0.3) 0%, rgba(83, 83, 83, 0.1) 0%), url("../img/form-bg.jpg");
  background-repeat: no-repeat;
  box-shadow: inset 0px 0px 53px 16px rgba(56, 54, 54, 0.833);
}

input {
  padding: 0 15px;
  font-family: "Patrick Hand";
  font-family-font-weight: 400;
}
input::placeholder {
  font-size: calc(12px + 2 * ((100vw - 320px) / 1120));
}

label {
  font-family: "Fredoka One";
  font-size: calc(10px + 4 * ((100vw - 320px) / 1120));
}
label[for=gender] {
  font-family: "Patrick Hand";
}

.form__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form__btns {
  display: flex;
  justify-content: center;
}

.form__btn {
  border-radius: 10px;
  box-shadow: inset 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
  background-color: #f7a2a2;
  background-image: url("../img/button-bg.jpg");
  padding: 5px 25px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  margin-right: 2em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
}
.form__btn:active {
  top: 2px;
  transition-duration: 0.5s;
  transform: translateY(4px);
  box-shadow: none;
}

.form__text--field {
  height: 30px;
  border-radius: 10px;
  background-color: #f0e8e8;
}
@media (max-width: 425px) {
  .form__text--field {
    width: 80px;
    height: 20px;
  }
}

.form__text--err {
  box-shadow: 6px 4px 14px -3px rgba(244, 5, 5, 0.6);
}

.form__text-invalid--err {
  color: red;
}
.form__text-invalid--good {
  color: #489600;
}

.form__message-ok {
  width: 50px;
  height: 50px;
  background-color: black;
}