input:focus {
  outline: none;
}

.form__text--field {
  height: 30px;
  border-radius: 10px;
  border: 2px solid #010101;
}

.form__text--err {
  border: 2px solid #790909;
  box-shadow: 6px 4px 14px -3px rgba(244, 5, 5, 0.6);
}

.form__text-invalid--err {
  color: red;
}
.form__text-invalid--good {
  color: #489600;
}