input:focus
    outline: none

.form__text--field
    height: 30px
    border-radius: 10px
    border: 2px solid rgb(1, 1, 1)

.form__text--err 
    border:  2px solid rgb(121, 9, 9)
    box-shadow: 6px 4px 14px -3px rgba(244, 5, 5, 0.6)


.form__text-invalid
    &--err 
        color: rgb(255, 0, 0)
    &--good 
        color: rgb(72, 150, 0)
